1..Noderedflow.json
[{"id":"95bc1e61.9ad43","type":"ibmiot in","z":"13fb8dd6.57e7e2","authentication":"apiKey","apiKey":"6c6d2fcc.f831b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOT-12","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":false,"qos":0,"x":170,"y":1100,"wires":[["299b23e2.3817ec","70c4b039.cf3ae","1e136c9a.43e783","c1fb65e.4455998"]]},{"id":"299b23e2.3817ec","type":"debug","z":"13fb8dd6.57e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1000,"wires":[]},{"id":"70c4b039.cf3ae","type":"function","z":"13fb8dd6.57e7e2","name":"temperature","func":"msg.payload=msg.payload.d.temperature \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":900,"wires":[["299b23e2.3817ec","f7f238ba.3ec288"]]},{"id":"1e136c9a.43e783","type":"function","z":"13fb8dd6.57e7e2","name":"humidity","func":"msg.payload=msg.payload.d.humidity \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1120,"wires":[["299b23e2.3817ec","598408ca.aab638"]]},{"id":"f7f238ba.3ec288","type":"ui_gauge","z":"13fb8dd6.57e7e2","name":"","group":"32d6d36c.163a6c","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#dd1346"],"seg1":"30","seg2":"70","x":730,"y":900,"wires":[]},{"id":"598408ca.aab638","type":"ui_gauge","z":"13fb8dd6.57e7e2","name":"","group":"32d6d36c.163a6c","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#d8224f"],"seg1":"30","seg2":"70","x":710,"y":1120,"wires":[]},{"id":"c1fb65e.4455998","type":"function","z":"13fb8dd6.57e7e2","name":"object temp","func":"msg.payload=msg.payload.d.objectTemp \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1280,"wires":[["299b23e2.3817ec","737c69e3.cd7418"]]},{"id":"737c69e3.cd7418","type":"ui_gauge","z":"13fb8dd6.57e7e2","name":"","group":"32d6d36c.163a6c","order":2,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#e52a2a"],"seg1":"30","seg2":"70","x":710,"y":1280,"wires":[]},{"id":"6240ce1c.dd9a1","type":"http request","z":"13fb8dd6.57e7e2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Pune,IN&appid=feacb7706be783b2d55a788f247dbf00","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":300,"wires":[["1a9ada9b.6c3015","af8b3fa8.bedd6","4ad38909.b1a768","26edbb88.441174","cdfb9743.bd2c18","d2b9b313.2d687","3d1bcf27.ca583"]]},{"id":"730a1aa0.dd2674","type":"inject","z":"13fb8dd6.57e7e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":110,"y":300,"wires":[["6240ce1c.dd9a1"]]},{"id":"c0a1f28d.34c5","type":"ibmiot out","z":"13fb8dd6.57e7e2","authentication":"apiKey","apiKey":"6c6d2fcc.f831b","outputType":"cmd","deviceId":"Arduino12","deviceType":"IOT-123","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":1500,"wires":[]},{"id":"499e0bec.2d5df4","type":"ui_button","z":"13fb8dd6.57e7e2","name":"","group":"f4a420b5.603d3","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":280,"y":1440,"wires":[["c0a1f28d.34c5"]]},{"id":"ce989d69.0e87f","type":"ui_button","z":"13fb8dd6.57e7e2","name":"","group":"f4a420b5.603d3","order":2,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":270,"y":1540,"wires":[["c0a1f28d.34c5"]]},{"id":"1a9ada9b.6c3015","type":"change","z":"13fb8dd6.57e7e2","name":"Place","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":80,"wires":[["267bf899.a5ed58","3d1bcf27.ca583"]]},{"id":"af8b3fa8.bedd6","type":"change","z":"13fb8dd6.57e7e2","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"(msg.payload.main.temp - 273.15)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":180,"wires":[["2a31fe5b.00ebc2","3d1bcf27.ca583"]]},{"id":"4ad38909.b1a768","type":"change","z":"13fb8dd6.57e7e2","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"(msg.payload.main.humidity) & \"%\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":300,"wires":[["1d4978ed.5848b7"]]},{"id":"26edbb88.441174","type":"change","z":"13fb8dd6.57e7e2","name":"weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather.0.main","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["ddf8d8a6.ad2a88","3d1bcf27.ca583"]]},{"id":"cdfb9743.bd2c18","type":"change","z":"13fb8dd6.57e7e2","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.main.pressure)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":540,"wires":[["46660927.4aefd8","3d1bcf27.ca583"]]},{"id":"d2b9b313.2d687","type":"change","z":"13fb8dd6.57e7e2","name":"wind speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.wind.speed)*18/5","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":620,"wires":[["41427a20.a348a4"]]},{"id":"267bf899.a5ed58","type":"ui_text","z":"13fb8dd6.57e7e2","group":"18be1e1e.60ec82","order":0,"width":0,"height":0,"name":"Place","label":"Place","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":80,"wires":[]},{"id":"ddf8d8a6.ad2a88","type":"ui_text","z":"13fb8dd6.57e7e2","group":"18be1e1e.60ec82","order":3,"width":0,"height":0,"name":"Weather","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":440,"wires":[]},{"id":"46660927.4aefd8","type":"ui_text","z":"13fb8dd6.57e7e2","group":"18be1e1e.60ec82","order":4,"width":0,"height":0,"name":"Pressure","label":"Pressure","format":"{{value}} mbar","layout":"row-spread","x":860,"y":540,"wires":[]},{"id":"41427a20.a348a4","type":"ui_text","z":"13fb8dd6.57e7e2","group":"18be1e1e.60ec82","order":5,"width":0,"height":0,"name":"Wind Speed","label":"Wind Speed","format":"{{value}} kmph","layout":"row-spread","x":870,"y":620,"wires":[]},{"id":"2a31fe5b.00ebc2","type":"ui_text","z":"13fb8dd6.57e7e2","group":"18be1e1e.60ec82","order":1,"width":0,"height":0,"name":"Temperature","label":"Temperature","format":"{{value-00.000000000000027}} &degC","layout":"row-spread","x":830,"y":180,"wires":[]},{"id":"1d4978ed.5848b7","type":"ui_text","z":"13fb8dd6.57e7e2","group":"18be1e1e.60ec82","order":2,"width":0,"height":0,"name":"Humidity","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":300,"wires":[]},{"id":"3d1bcf27.ca583","type":"debug","z":"13fb8dd6.57e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":380,"wires":[]},{"id":"6c6d2fcc.f831b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"32d6d36c.163a6c","type":"ui_group","z":"","name":"Smart Agriculture Home","tab":"59274e13.87975","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4a420b5.603d3","type":"ui_group","z":"","name":"Motor Command","tab":"59274e13.87975","order":2,"disp":true,"width":"6","collapse":false},{"id":"18be1e1e.60ec82","type":"ui_group","z":"","name":"Open Weather Data","tab":"59274e13.87975","order":3,"disp":true,"width":"6","collapse":false},{"id":"59274e13.87975","type":"ui_tab","z":"","name":"Smart Agriculture System Based on IOT","icon":"dashboard","disabled":false,"hidden":false}]